body {
  margin: 0;
  background: #8081a9;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}
svg {
  width: 100vw;
  height: 90vh;
  display: block;
}
#dateLabel {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background: rgba(0,0,0,0.6);
  padding: 6px 12px;
  border-radius: 8px;
}
.legend {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
}
